<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Music Player</title>
    </head>
    <body>
        <div class='inputs'>
            <input type="text" placeholder="search a song" id='query'>
            <input type="submit" onclick='search()'>
        </div>
        <div id='songs'></div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js" integrity="sha512-WL6WGKMPBiM9PnHRYIn5YEtq0Z8XP4fkVb4qy7PP4vhmYQErJ/dySyXuFIMDf1eEYCXCrQrMJfkNwKc9gsjTjA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="{{url_for('static', filename='script.js')}}" type='text/javascript'></script>
    </body>
</html>